# Configuration par defaut
SERVER_HOST=localhost
SERVER_PORT= 3000

DB_HOST=localhost
DB_PORT=5430
DB_USERNAME=bagaza 
DB_PASSWORD=@#Bagaza25

# Configuration développement
[development]
SERVER_PORT=3001
DB_USERNAME=dev_user_name
DB_PASSWORD=DEV@#user25

# Configuration production
[production]
SERVER_HOST=0.0.0.0
SERVER_PORT=80
DB_USERNAME=prod_user_name
DB_PASSWORD=PROD@#user25